/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2021, 1:21:48 PM
    Author     : Asus
*/

.dashboard_path{
	margin-top: 20px;
	max-width: 1500px;
}

.path{
	max-width: 1200px;
	padding-left: 50px ;
	float: left;
	display: inline-table;
	border: 1px solid none;
	font-size: 15px;
	width: 80%;	
	color: black;
}
.path a{
	color: black;
	cursor: pointer;
}
.path a:hover{
	opacity: 0.7;
}
.path i{
	cursor: text;
	padding: 0px 10px 0 10px;
}

.search-box input{	
	border: none;
	height: 30px;
	width: 80%;
	float: left;
	padding: 3px 50px 3px 3px;
}
.search-box{
	margin-top: -5px;
	text-align: right;
	padding-left: 50px;
	max-width: 300px;
	float: left;
	width: 20%;
	height: 30px;
	cursor: pointer;
}
.btn-search{
	margin-top: 2px;
	background-color: white;
	margin-left: -50px;
	border: none;
	width: 20%;
	height: 25px;
	float: left;
	border-radius: 10px;
}
body{
	max-width: 1500px;
}
.main_Container{
	margin-top: 50px;
	display: block;
}
.main_Container h3{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
.add_form{
	border: 1px groove #D9D8D8;
	width: 50%;
	margin-left: 25%;
	height: 350px;
}
.add_form label{
	width: 25%;
	margin: 10px 0 15px 100px;
}
.add_form input{
	width: 40%;
}
.add_form button{
	margin-left: 45%;
	width: 15%;
	padding: 3px 0 3px 0;
	margin-top: 15px;
	border-radius: 5px	;
	border: 1px groove #D9D8D8;
}
