/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2021, 5:54:03 PM
    Author     : Asus
*/
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/css/bootstrap.min.css';
/* body {
  font-size: 16px;
  margin: 1em;
  font-weight: 200;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-weight: inherit;
  margin: 0.83em 0;
}
.list .listItem {
  padding: 5px 0;
  margin: 4px 0;
  margin-left: -20px;
  padding-left: 20px;
  background: #fff;
}
.list .listItem > *:first-child {
  margin-left: 0;
  box-sizing: border-box;
  margin-left: 0;
}
.list .listItem:hover {
  background: #eee;
}
.truncate {
  background: inherit;
  min-height: 1em;
  position: relative;
}
.truncate .truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  width: auto;
  max-width: 100%;
  transition: max-width linear 0.5s;
  z-index: 1;
  background: inherit;
  padding: 5px;
  margin: -5px;
}
.truncate .truncated:hover {
  max-width: 300%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-position{
  position: absolute;
  width: 900px;
  left: 350px;
  top: 243px;

}

.class-name{
  margin-left:100px;
}

.no-padding{
  padding:0px;
}
.glyphicon-icon-rpad .glyphicon,.glyphicon-icon-rpad .glyphicon.m8,.fa-icon-rpad .fa,.fa-icon-rpad .fa.m8{ padding-right:8px; }
.glyphicon-icon-lpad .glyphicon,.glyphicon-icon-lpad .glyphicon.m8,.fa-icon-lpad .fa,.fa-icon-lpad .fa.m8{ padding-left:8px; }
.glyphicon-icon-rpad .glyphicon.m5,.fa-icon-rpad .fa.m5{ padding-right:5px; }
.glyphicon-icon-lpad .glyphicon.m5,.fa-icon-lpad .fa.m5{ padding-left:5px; }
.glyphicon-icon-rpad .glyphicon.m12,.fa-icon-rpad .fa.m12{ padding-right:12px; }
.glyphicon-icon-lpad .glyphicon.m12,.fa-icon-lpad .fa.m12{ padding-left:12px; }
.glyphicon-icon-rpad .glyphicon.m15,.fa-icon-rpad .fa.m15{ padding-right:15px; }
.glyphicon-icon-lpad .glyphicon.m15,.fa-icon-lpad .fa.m15{ padding-left:15px; }



ul.nav-menu-list-style .nav-header .menu-collapsible-icon{position:absolute; left:150px; top:16px; font-size:9px; }



ul.nav-menu-list-style{
  margin:0;
}
ul.nav-menu-list-style .nav-header{
  border-top:1px solid #FFFFFF;
  border-bottom:1px solid #e8e8e8;
  display:block;
  margin:0;
  line-height:42px;
  padding:0 8px;
  font-weight:600;
}
ul.nav-menu-list-style> li{
  position:relative; }
ul.nav-menu-list-style> li a{
  border-top:1px solid #FFFFFF;
  border-bottom:1px solid #e8e8e8;
  padding:0 10px;
  line-height:32px;
}
ul.nav-menu-list-style> li:first-child a{
}


ul.nav-menu-list-style{list-style:none; padding:0px; margin:0px;}
ul.nav-menu-list-style li .badge,ul.nav-menu-list-style li .pull-right,ul.nav-menu-list-style li span.badge,ul.nav-menu-list-style li label.badge{float:right; margin-top:7px;}
ul.bullets{list-style:inside disc}
ul.numerics{list-style:inside decimal}
.ul.kas-icon-aero{}
ul.kas-icon-aero li a:before{font-family: 'Glyphicons Halflings'; font-size:9px; content: "\e258"; padding-right:8px; }

.inline-container{
  position: absolute;
  width: 500px;
  left: 140px;
  top: 243px;
}

.big{
  width: 200px;
}

.inline{
  display:inline-block ;
}
.btnRemove{
	background-color: #ff1a1a;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	width: 80px;
	height: 30px;
	margin-left:10px;
}
#footer{
  width:	100%;
  position: absolute;
  left: 40%;
  bottom: -5%; 
}
button{
	cursor: pointer;
}
button:hover{
	opacity: 0.7;
}
.btn-add{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 20px;
}
.btn-save{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 20px;
}
.nav-header:hover{
	opacity: 0.7;
}
.nav-header{
	cursor: pointer;
}

.sidebar ul{
    margin-left: -2%;
}
.middle{
  margin-top: 0%;
  margin-left: 2%;
}
.table-position{
  width: 60%;
  margin-top: -3%;
  height: 63%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.inline-container{
  margin-top: -3%;
  margin-left: -2%;
}
.home_content{
  margin-top: 1%;
  margin-bottom: 1%;
}
.inline-container .row{
  height: 500px;
  overflow: auto;
}
.btnbox{
  width: 100%;
  margin-top: 5%;
  margin-left: 110%;
}
.dashboard_path h2{
  font-size: 180%;
  font-weight: 500;
  margin-left: 6%;
}
