/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2021, 12:31:43 AM
    Author     : Asus
*/

.middle{
	display: flex;
	flex-direction: column;
}

.btnShowHide{
	color: white;
	font-weight: bold;
  	padding: 16px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
  	background-color: #009999; 	
  	padding: 7% 7% 7% 7%;
  	margin: 4% 0 4% 4%;
  	width: 100%; 
  	border-radius: 3px;	
}
.showHide{	
	height: 500px;
	padding-right: 2%;
	padding-left: 1%;
	margin: 2% 0 3% 3%;
	width: 10%;
	border: 1px solid #d4d4d4;
	display: block;
	line-height: 1.8;
	overflow: auto;
}
button:hover{
	opacity: 0.7;
}
#video_ShowHide{
	margin-left: 10%;	
}
#document_Show_Hide{
	margin-left: 20px;	
}
.Left__Site{
	width: 100%;
	margin-top: 30px;
	display: flex;
}
.showDocument{
	margin: -2% 3% 0 3%;
	width: 45%;
}
.to__do{	
	padding: 20px 20px 20px 20px;
	width: 15%;
	height: 85%;
	border: 1px solid #d4d4d4;
	margin-left: 8%;
	margin-top: 2%;
}

.dashboard_path{
	margin-top: 20px;
	width: 100%;
	font-size: 130%;
}

.path{
	width: 100%;
	padding-left: 30px ;
	float: left;
	display: inline-table;
	border: 1px solid none;
	font-size: 15px;
	width: 80%;	
	color: black;
}
.path a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.path a:hover{
	opacity: 0.7;
}
.path i{
	cursor: text;
	padding: 0px 10px 0 10px;
}
hr{
	margin: 1% 0 2% 2%;
	width: 90%;
}
a{
	text-decoration: none;
}
h3{
	font-size: 150%;
	color: #009999;
}
