/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2021, 5:55:55 PM
    Author     : Asus
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2021, 8:27:52 PM
    Author     : DELL
*/
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    width: 78px;
    background: #003333;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 270px;
    
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50px;
    transform: translateY(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 100px;
    background: #fff;
    line-height: 10px;
    text-align: center;
    box-shadow: 0px 5px rgba;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active ul li .tooltip{
    display: none;
    
}
.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
   
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    padding-left: 5px;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 15px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    
}
.sidebar.active #btn{
    left: 90%
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top:  6px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-83%);
    align-items: center;
}

.sidebar ul{
    margin-top: 20px;
    width: 200px;
}
.sidebar ul li{
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px ;
    padding-right: 20px;
  
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 36px;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 50px;
    font-size: 0px;
    background: none;
    transition: all 0.5s ease
}
.sidebar.active ul li input{
    width: 230px;
    font-size: 18px;
    color: #fff;
    background: #009999;
}
.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #009999;
    
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar ul li .bx-search{
    position: none;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    background: #fff;
    color: #003333;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    align-items: center;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 106px;
    height: 150px;
    transition: all 0.5s ease;
    border-radius: 12px;
    opacity: 1;
    pointer-events: none;
    font-size: 0px;
    transition: all 0.5s ease;
}
.sidebar.active .profile_content{
    width: 300px;
   font-size: 15px;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 15px 25px;
    height: 85px;
    width: auto;
    background: none;
    align-items: center;
}
.sidebar.active .profile_content .profile{
    background: #009999;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.5s ease;
    
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    background: none;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;    
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 12px;
    padding-left: 5px;
    transition: 0s;
    opacity: 1;
    pointer-events: none;
    
}
.sidebar.active .profile #log_out{
    left: 90%;
}
.middle{
    position: absolute;
    height: 100%;
    width: calc(100% - 100px);
    left: 100px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .middle{
    width: calc(100%-150px);
    left: 350px;
}
.home_content .text{
    font-size: 35px;
    font-weight: 500;
    color: #009999;
    margin-top: 12px;
    margin-left: 30px;
}

.middle{
  display: flex;
  flex-direction: column;
}.dashboard_path{
  margin-top: 20px;
  width: 100%;
  font-size: 130%;
}
.path{
  width: 100%;
  padding-left: 30px ;
  float: left;
  display: inline-table;
  border: 1px solid none;
  font-size: 15px;
  width: 80%; 
  color: black;
}
.path a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.path a:hover{
  opacity: 0.7;
}
.path i{
  cursor: text;
  padding: 0px 10px 0 10px;
}
hr{
  margin: 1% 0 2% 2%;
  width: 90%;
}
a{
  text-decoration: none;
}
button:hover{
  opacity: 0.7;
}